:root{
  --dark-blue: hsl(209, 23%, 22%);
  --very-dark-blue-bg: hsl(207, 26%, 17%);
  --very-dark-blue: hsl(200, 15%, 8%);
  --dark-gray: hsl(0, 0%, 52%);
  --very-light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
}
html{
  font-family: 'Nunito Sans', sans-serif;
}
.dark-mode-btn{
  border: none;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}
body{
  background-color: var(--very-light-gray);
}
.btn{
  display: inline-block;
  padding: .5rem;
  background-color: var(--dark-blue);
  margin-left: .5rem;
  color: white;
  margin-top: .5rem;
  border-radius: 5px;
  width: 20px;
}
.error{
  background-color: var(--dark-blue);
  border-radius: 10px;
}


/* -------------------- ESTILOS -------------------- */
/* -------------------- HEADER -------------------- */
header{
  justify-content: space-between;
  align-items: center;
  box-shadow: -1px 4px 4px 0px rgba(0,0,0,0.05);
}

/* -------------------- SEARCH FORM -------------------- */
.flecha-select,
.search-section > form{
  position: relative;
}
.search-section > form > i{
  position: absolute;
  top: .95rem;
  left: 1.2rem;
}
.search-section > form > input[type='text']{
  flex: 1;
  border: none;
  box-shadow: -1px 4px 4px 0px rgba(0,0,0,0.05);
  outline: none;
}
.search-section > form > input[type='text']::placeholder{
  opacity: .5;
}
.select-countries{
  appearance: none;
  border: none;
  outline: none;
  box-shadow: -1px 4px 4px 0px rgba(0,0,0,0.05);
}
.flecha-select::after{
	content:"⮟";
  width:auto;
  text-align: center;
  width: 2rem;
  top: .8rem;
  right: .3rem;
	height:auto;
	background-color:transparent;
	position:absolute;
	pointer-events: none;
}
.select-countries > option{
  border: none;
}
@media screen and (min-width: 64rem){
  .search-section > form{
    justify-content: space-between;
  }
  .search-section > form > input[type='text']{
    flex: 0;
    flex-basis: 40%;
  }
  .flecha-select{
    width: 30%;
  }
}

/* -------------------- CARDS -------------------- */
.card:first-child{
  margin-top: 0;
}
.card{
  box-shadow: -1px 4px 4px 0px rgba(0,0,0,0.05);
  border-radius: 5px;
  margin-top: 2rem;
}
.card > a > img{
  border-radius: 5px 5px 0 0;
  object-fit: contain;
  height: 100%;
}
.card > a{
  cursor: pointer;
}

#paginacion{
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 2rem;
}

@media screen and (min-width: 48rem){
  #main-content{
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 4rem;
    row-gap: 4rem;
  }
  .card{
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px auto;
  }
}
@media screen and (min-width: 64rem){
  #main-content{
    grid-template-columns: repeat(3, auto);
    width: 90%;
  }
}
@media screen and (min-width: 80rem){
  #main-content{
    grid-template-columns: repeat(4, auto);
  }
}

/* -------------------- DETALLE PAIS -------------------- */
.border-countries-btn > a,
.btn-back{
  display: inline-block;
  box-shadow: 0px 0px 8px -3px rgba(0,0,0,0.65);
  color: var(--dark-blue)
}
.border-countries-btn{
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}
.border-countries-btn > a{
  font-size: .8rem;
  display: flex;
  align-items: center;
  height: 3rem;
  justify-content: center;
}
@media screen and (min-width: 64rem){
  .detail-country{
    flex: 1;
    align-items: center;
  }
  .detail-country > img{
    width: 400px;
  }
  .detail-info{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 1rem;
    margin-left: 6rem;
    grid-template-areas: 'titulo titulo'
    'info1 info2'
    'borders borders';
  }
  .detail-info > h2{
    grid-area: titulo;
  }
  .info{
    grid-area: info1;
  }
  .info-2{
    grid-area: info2;
  }
  .border-countries{
    grid-area: borders;
  }
}
@media screen and (min-width: 80rem){
  .border-countries-btn > a{
    width: 20%;
  }
}

/* -------------------- SPINNER -------------------- */
.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #333;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-child-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child-2:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: var(--white);
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}


/* -------------------- MODO OSCURO -------------------- */

.dark-mode-class{
  background-color: var(--very-dark-blue-bg);
  color: var(--white) !important;
}
.dark-mode-card{
  background-color: var(--dark-blue);
  color: var(--white) !important;
}